openapi: 3.1.0
info:
  title: AgentXchain Control Plane API
  version: 0.1.0
  description: >
    Machine-readable API contract for the agentxchain.ai control plane.
    Wraps the agentxchain governed execution protocol for remote/programmatic
    run management via HTTP. Every endpoint produces the same state transitions
    as the equivalent CLI command — the control plane is a transport wrapper,
    not a reimplementation.
  license:
    name: MIT

servers:
  - url: https://api.agentxchain.ai
    description: Production
  - url: http://localhost:4100
    description: Local development

security:
  - api_key: []
  - bearer_auth: []

tags:
  - name: tenancy
    description: Organization, workspace, and project management
  - name: runs
    description: Governed run lifecycle management
  - name: turns
    description: Turn inspection within governed runs
  - name: approvals
    description: Turn acceptance, rejection, gate approval, and recovery operations
  - name: audit
    description: Event streams, audit logs, export/import
  - name: webhooks
    description: Webhook registration and management

paths:
  # ── Tenancy (9 operations) ────────────────────────────────────────────────

  /v1/orgs:
    post:
      operationId: createOrganization
      tags: [tenancy]
      summary: Create organization
      x-required-role: owner
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [name]
              properties:
                name:
                  type: string
                  minLength: 1
                  maxLength: 128
      responses:
        '201':
          description: Organization created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Organization'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '409':
          $ref: '#/components/responses/Conflict'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '429':
          $ref: '#/components/responses/RateLimited'
        '500':
          $ref: '#/components/responses/InternalError'

  /v1/orgs/{org_id}:
    get:
      operationId: getOrganization
      tags: [tenancy]
      summary: Get organization
      x-required-role: viewer
      parameters:
        - $ref: '#/components/parameters/org_id'
      responses:
        '200':
          description: Organization details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Organization'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/RateLimited'
        '500':
          $ref: '#/components/responses/InternalError'

  /v1/orgs/{org_id}/workspaces:
    post:
      operationId: createWorkspace
      tags: [tenancy]
      summary: Create workspace
      x-required-role: owner
      parameters:
        - $ref: '#/components/parameters/org_id'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [name]
              properties:
                name:
                  type: string
                  minLength: 1
                  maxLength: 128
                policy:
                  $ref: '#/components/schemas/WorkspacePolicy'
      responses:
        '201':
          description: Workspace created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Workspace'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '429':
          $ref: '#/components/responses/RateLimited'
        '500':
          $ref: '#/components/responses/InternalError'
    get:
      operationId: listWorkspaces
      tags: [tenancy]
      summary: List workspaces in organization
      x-required-role: viewer
      parameters:
        - $ref: '#/components/parameters/org_id'
        - $ref: '#/components/parameters/cursor'
        - $ref: '#/components/parameters/limit'
      responses:
        '200':
          description: Paginated workspace list
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/PaginatedList'
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: '#/components/schemas/Workspace'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/RateLimited'
        '500':
          $ref: '#/components/responses/InternalError'

  /v1/workspaces/{ws_id}:
    get:
      operationId: getWorkspace
      tags: [tenancy]
      summary: Get workspace
      x-required-role: viewer
      parameters:
        - $ref: '#/components/parameters/ws_id'
      responses:
        '200':
          description: Workspace details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Workspace'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/RateLimited'
        '500':
          $ref: '#/components/responses/InternalError'
    patch:
      operationId: updateWorkspace
      tags: [tenancy]
      summary: Update workspace policy
      x-required-role: owner
      parameters:
        - $ref: '#/components/parameters/ws_id'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  minLength: 1
                  maxLength: 128
                policy:
                  $ref: '#/components/schemas/WorkspacePolicy'
      responses:
        '200':
          description: Workspace updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Workspace'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '429':
          $ref: '#/components/responses/RateLimited'
        '500':
          $ref: '#/components/responses/InternalError'

  /v1/workspaces/{ws_id}/projects:
    post:
      operationId: createProject
      tags: [tenancy]
      summary: Create project
      x-required-role: operator
      parameters:
        - $ref: '#/components/parameters/ws_id'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [name]
              properties:
                name:
                  type: string
                  minLength: 1
                  maxLength: 128
                repo_url:
                  type: string
                  format: uri
                governance_config:
                  type: object
                  description: Same schema as agentxchain.json — no cloud-only config fields
                protocol_version:
                  type: integer
                  default: 7
      responses:
        '201':
          description: Project created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Project'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '429':
          $ref: '#/components/responses/RateLimited'
        '500':
          $ref: '#/components/responses/InternalError'
    get:
      operationId: listProjects
      tags: [tenancy]
      summary: List projects in workspace
      x-required-role: viewer
      parameters:
        - $ref: '#/components/parameters/ws_id'
        - $ref: '#/components/parameters/cursor'
        - $ref: '#/components/parameters/limit'
      responses:
        '200':
          description: Paginated project list
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/PaginatedList'
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: '#/components/schemas/Project'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/RateLimited'
        '500':
          $ref: '#/components/responses/InternalError'

  /v1/projects/{proj_id}:
    get:
      operationId: getProject
      tags: [tenancy]
      summary: Get project
      x-required-role: viewer
      parameters:
        - $ref: '#/components/parameters/proj_id'
      responses:
        '200':
          description: Project details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Project'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/RateLimited'
        '500':
          $ref: '#/components/responses/InternalError'

  # ── Run Lifecycle (8 operations) ──────────────────────────────────────────

  /v1/projects/{proj_id}/runs:
    post:
      operationId: createRun
      tags: [runs]
      summary: Create governed run
      x-required-role: operator
      parameters:
        - $ref: '#/components/parameters/proj_id'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                vision:
                  type: string
                  description: Vision statement for the run
                template:
                  type: string
                  description: Governance template name (e.g. sdlc, generic)
      responses:
        '201':
          description: Run created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Run'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '429':
          $ref: '#/components/responses/RateLimited'
        '500':
          $ref: '#/components/responses/InternalError'
    get:
      operationId: listRuns
      tags: [runs]
      summary: List runs in project
      x-required-role: viewer
      parameters:
        - $ref: '#/components/parameters/proj_id'
        - $ref: '#/components/parameters/cursor'
        - $ref: '#/components/parameters/limit'
        - name: status
          in: query
          schema:
            type: string
            enum: [active, paused, completed, failed, cancelled]
          description: Filter by run status
      responses:
        '200':
          description: Paginated run list
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/PaginatedList'
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: '#/components/schemas/Run'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/RateLimited'
        '500':
          $ref: '#/components/responses/InternalError'

  /v1/runs/{run_id}:
    get:
      operationId: getRun
      tags: [runs]
      summary: Get run state
      x-required-role: viewer
      parameters:
        - $ref: '#/components/parameters/run_id'
      responses:
        '200':
          description: Run state
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Run'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/RateLimited'
        '500':
          $ref: '#/components/responses/InternalError'

  /v1/runs/{run_id}/turns:
    get:
      operationId: listTurns
      tags: [turns]
      summary: List turns for a run
      x-required-role: viewer
      parameters:
        - $ref: '#/components/parameters/run_id'
        - $ref: '#/components/parameters/cursor'
        - $ref: '#/components/parameters/limit'
      responses:
        '200':
          description: Paginated turn list
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/PaginatedList'
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: '#/components/schemas/Turn'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/RateLimited'
        '500':
          $ref: '#/components/responses/InternalError'

  /v1/runs/{run_id}/turns/{turn_id}:
    get:
      operationId: getTurn
      tags: [turns]
      summary: Get turn detail
      x-required-role: viewer
      parameters:
        - $ref: '#/components/parameters/run_id'
        - $ref: '#/components/parameters/turn_id'
      responses:
        '200':
          description: Turn detail
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Turn'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/RateLimited'
        '500':
          $ref: '#/components/responses/InternalError'

  /v1/runs/{run_id}/decisions:
    get:
      operationId: getDecisions
      tags: [runs]
      summary: Get decision ledger
      x-required-role: viewer
      parameters:
        - $ref: '#/components/parameters/run_id'
      responses:
        '200':
          description: Decision list
          content:
            application/json:
              schema:
                type: object
                required: [data]
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Decision'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/RateLimited'
        '500':
          $ref: '#/components/responses/InternalError'

  /v1/runs/{run_id}/gates:
    get:
      operationId: getGates
      tags: [runs]
      summary: Get gate states
      x-required-role: viewer
      parameters:
        - $ref: '#/components/parameters/run_id'
      responses:
        '200':
          description: Gate states
          content:
            application/json:
              schema:
                type: object
                required: [data]
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Gate'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/RateLimited'
        '500':
          $ref: '#/components/responses/InternalError'

  /v1/runs/{run_id}/cancel:
    post:
      operationId: cancelRun
      tags: [runs]
      summary: Cancel run
      x-required-role: operator
      parameters:
        - $ref: '#/components/parameters/run_id'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [reason]
              properties:
                reason:
                  type: string
                  minLength: 1
      responses:
        '200':
          description: Run cancelled
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Run'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '429':
          $ref: '#/components/responses/RateLimited'
        '500':
          $ref: '#/components/responses/InternalError'

  # ── Approvals & Recovery (6 operations) ───────────────────────────────────

  /v1/runs/{run_id}/approve-transition:
    post:
      operationId: approveTransition
      tags: [approvals]
      summary: Approve phase transition
      x-required-role: operator
      parameters:
        - $ref: '#/components/parameters/run_id'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                notes:
                  type: string
                  description: Optional approval notes
      responses:
        '200':
          description: Phase transition approved
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Run'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '429':
          $ref: '#/components/responses/RateLimited'
        '500':
          $ref: '#/components/responses/InternalError'

  /v1/runs/{run_id}/turns/{turn_id}/accept:
    post:
      operationId: acceptTurn
      tags: [approvals]
      summary: Accept turn result
      x-required-role: operator
      parameters:
        - $ref: '#/components/parameters/run_id'
        - $ref: '#/components/parameters/turn_id'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                notes:
                  type: string
                  description: Optional acceptance notes
      responses:
        '200':
          description: Turn accepted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Turn'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '429':
          $ref: '#/components/responses/RateLimited'
        '500':
          $ref: '#/components/responses/InternalError'

  /v1/runs/{run_id}/turns/{turn_id}/reject:
    post:
      operationId: rejectTurn
      tags: [approvals]
      summary: Reject turn result
      x-required-role: operator
      parameters:
        - $ref: '#/components/parameters/run_id'
        - $ref: '#/components/parameters/turn_id'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [reason]
              properties:
                reason:
                  type: string
                  minLength: 1
      responses:
        '200':
          description: Turn rejected
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Turn'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '429':
          $ref: '#/components/responses/RateLimited'
        '500':
          $ref: '#/components/responses/InternalError'

  /v1/runs/{run_id}/checkpoint:
    post:
      operationId: checkpointRun
      tags: [approvals]
      summary: Checkpoint a specific accepted turn
      description: >
        Creates a git checkpoint for the specified accepted turn.
        Requires explicit turn_id — no server inference of "latest".
      x-required-role: operator
      parameters:
        - $ref: '#/components/parameters/run_id'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [turn_id]
              properties:
                turn_id:
                  type: string
                  pattern: '^turn_[A-Za-z0-9]+$'
      responses:
        '200':
          description: Checkpoint created
          content:
            application/json:
              schema:
                type: object
                required: [checkpoint_id, turn_id]
                properties:
                  checkpoint_id:
                    type: string
                  turn_id:
                    type: string
                  created_at:
                    type: string
                    format: date-time
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '429':
          $ref: '#/components/responses/RateLimited'
        '500':
          $ref: '#/components/responses/InternalError'

  /v1/runs/{run_id}/restart:
    post:
      operationId: restartRun
      tags: [approvals]
      summary: Restart from a specific checkpoint
      description: >
        Restores run state to a previous checkpoint. Requires explicit
        checkpoint_id — no server inference of "latest". Note: the protocol
        layer does not yet expose a restartFromCheckpoint primitive; this
        endpoint is design-only until the protocol adds it.
      x-required-role: operator
      parameters:
        - $ref: '#/components/parameters/run_id'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [checkpoint_id]
              properties:
                checkpoint_id:
                  type: string
                  pattern: '^ckpt_[A-Za-z0-9]+$'
      responses:
        '200':
          description: Run restarted from checkpoint
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Run'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '429':
          $ref: '#/components/responses/RateLimited'
        '500':
          $ref: '#/components/responses/InternalError'

  /v1/runs/{run_id}/retry:
    post:
      operationId: retryTurn
      tags: [approvals]
      summary: Retry a failed or rejected turn
      description: >
        Reissues a turn that is in failed or failed_acceptance status.
        Requires explicit turn_id — no server inference.
      x-required-role: operator
      parameters:
        - $ref: '#/components/parameters/run_id'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [turn_id]
              properties:
                turn_id:
                  type: string
                  pattern: '^turn_[A-Za-z0-9]+$'
      responses:
        '200':
          description: Turn reissued
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Turn'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '429':
          $ref: '#/components/responses/RateLimited'
        '500':
          $ref: '#/components/responses/InternalError'

  # ── Audit & Events (4 operations) ─────────────────────────────────────────

  /v1/runs/{run_id}/events:
    get:
      operationId: getRunEvents
      tags: [audit]
      summary: Get run events
      x-required-role: viewer
      parameters:
        - $ref: '#/components/parameters/run_id'
        - $ref: '#/components/parameters/cursor'
        - $ref: '#/components/parameters/limit'
        - name: type
          in: query
          schema:
            type: string
          description: Filter by event type
      responses:
        '200':
          description: Paginated event list
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/PaginatedList'
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: '#/components/schemas/Event'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/RateLimited'
        '500':
          $ref: '#/components/responses/InternalError'

  /v1/workspaces/{ws_id}/audit:
    get:
      operationId: getWorkspaceAudit
      tags: [audit]
      summary: Workspace audit log
      x-required-role: viewer
      parameters:
        - $ref: '#/components/parameters/ws_id'
        - $ref: '#/components/parameters/cursor'
        - $ref: '#/components/parameters/limit'
        - name: action
          in: query
          schema:
            type: string
          description: Filter by action type
      responses:
        '200':
          description: Paginated audit log
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/PaginatedList'
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: '#/components/schemas/AuditEntry'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/RateLimited'
        '500':
          $ref: '#/components/responses/InternalError'

  /v1/runs/{run_id}/export:
    get:
      operationId: exportRun
      tags: [audit]
      summary: Export run as repo-native artifact bundle
      description: >
        Produces an export bundle compatible with the agentxchain CLI
        `agentxchain export` command. Round-trip .dev <-> .ai without
        lossy transforms.
      x-required-role: operator
      parameters:
        - $ref: '#/components/parameters/run_id'
      responses:
        '200':
          description: Run export bundle
          content:
            application/json:
              schema:
                type: object
                required: [ok, export]
                properties:
                  ok:
                    type: boolean
                  export:
                    type: object
                    description: Repo-native export bundle (state, history, decisions, events, artifacts)
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/RateLimited'
        '500':
          $ref: '#/components/responses/InternalError'

  /v1/projects/{proj_id}/import:
    post:
      operationId: importRun
      tags: [audit]
      summary: Import repo-native run state
      description: >
        Accepts the same bundle format produced by export. Round-trip
        .dev <-> .ai without lossy transforms.
      x-required-role: operator
      parameters:
        - $ref: '#/components/parameters/proj_id'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [bundle]
              properties:
                bundle:
                  type: object
                  description: Repo-native export bundle produced by exportRun
      responses:
        '201':
          description: Run imported
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Run'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '429':
          $ref: '#/components/responses/RateLimited'
        '500':
          $ref: '#/components/responses/InternalError'

  # ── Webhooks (2 operations) ───────────────────────────────────────────────

  /v1/workspaces/{ws_id}/webhooks:
    post:
      operationId: registerWebhook
      tags: [webhooks]
      summary: Register webhook for run events
      description: >
        Registers a URL to receive run event notifications. Delivery is
        at-least-once with idempotency keys. Payload schema matches
        events.jsonl format.
      x-required-role: operator
      parameters:
        - $ref: '#/components/parameters/ws_id'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [url, events]
              properties:
                url:
                  type: string
                  format: uri
                events:
                  type: array
                  items:
                    type: string
                  description: Event types to subscribe to (empty array = all events)
                secret:
                  type: string
                  description: Shared secret for HMAC signature verification
      responses:
        '201':
          description: Webhook registered
          content:
            application/json:
              schema:
                type: object
                required: [id, url, events, created_at]
                properties:
                  id:
                    type: string
                  url:
                    type: string
                    format: uri
                  events:
                    type: array
                    items:
                      type: string
                  created_at:
                    type: string
                    format: date-time
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '429':
          $ref: '#/components/responses/RateLimited'
        '500':
          $ref: '#/components/responses/InternalError'
    get:
      operationId: listWebhooks
      tags: [webhooks]
      summary: List registered webhooks
      x-required-role: viewer
      parameters:
        - $ref: '#/components/parameters/ws_id'
        - $ref: '#/components/parameters/cursor'
        - $ref: '#/components/parameters/limit'
      responses:
        '200':
          description: Paginated webhook list
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/PaginatedList'
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          type: object
                          required: [id, url, events, created_at]
                          properties:
                            id:
                              type: string
                            url:
                              type: string
                              format: uri
                            events:
                              type: array
                              items:
                                type: string
                            created_at:
                              type: string
                              format: date-time
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/RateLimited'
        '500':
          $ref: '#/components/responses/InternalError'

components:
  securitySchemes:
    api_key:
      type: apiKey
      in: header
      name: X-API-Key
    bearer_auth:
      type: http
      scheme: bearer
      bearerFormat: JWT

  parameters:
    org_id:
      name: org_id
      in: path
      required: true
      schema:
        type: string
        pattern: '^org_[A-Za-z0-9]+$'
    ws_id:
      name: ws_id
      in: path
      required: true
      schema:
        type: string
        pattern: '^ws_[A-Za-z0-9]+$'
    proj_id:
      name: proj_id
      in: path
      required: true
      schema:
        type: string
        pattern: '^proj_[A-Za-z0-9]+$'
    run_id:
      name: run_id
      in: path
      required: true
      schema:
        type: string
        pattern: '^run_[A-Za-z0-9]+$'
    turn_id:
      name: turn_id
      in: path
      required: true
      schema:
        type: string
        pattern: '^turn_[A-Za-z0-9]+$'
    cursor:
      name: cursor
      in: query
      schema:
        type: string
      description: Opaque cursor from previous response
    limit:
      name: limit
      in: query
      schema:
        type: integer
        minimum: 1
        maximum: 100
        default: 25
      description: Maximum number of items to return

  schemas:
    Organization:
      type: object
      required: [id, name, created_at, owner_id]
      properties:
        id:
          type: string
          description: Organization ULID
          pattern: '^org_[A-Za-z0-9]+$'
        name:
          type: string
        created_at:
          type: string
          format: date-time
        owner_id:
          type: string
          description: User ULID of the organization owner

    Workspace:
      type: object
      required: [id, org_id, name, created_at]
      properties:
        id:
          type: string
          description: Workspace ULID
          pattern: '^ws_[A-Za-z0-9]+$'
        org_id:
          type: string
        name:
          type: string
        policy:
          $ref: '#/components/schemas/WorkspacePolicy'
        created_at:
          type: string
          format: date-time

    WorkspacePolicy:
      type: object
      properties:
        approval_mode:
          type: string
          enum: [manual, auto_with_gate]
        max_concurrent_runs:
          type: integer
          minimum: 1

    Project:
      type: object
      required: [id, ws_id, name, created_at, protocol_version]
      properties:
        id:
          type: string
          description: Project ULID
          pattern: '^proj_[A-Za-z0-9]+$'
        ws_id:
          type: string
        name:
          type: string
        repo_url:
          type: string
          format: uri
          nullable: true
        governance_config:
          type: object
          description: Same schema as agentxchain.json — no cloud-only config fields
        protocol_version:
          type: integer
        created_at:
          type: string
          format: date-time

    Run:
      type: object
      required: [id, proj_id, phase, status, turns, gates, decision_ledger, created_at, updated_at]
      properties:
        id:
          type: string
          description: Run ULID
          pattern: '^run_[A-Za-z0-9]+$'
        proj_id:
          type: string
        phase:
          type: string
          enum: [planning, implementation, qa, release]
        status:
          type: string
          enum: [active, paused, completed, failed, cancelled]
        vision:
          type: string
          nullable: true
        turns:
          type: array
          items:
            type: string
          description: Turn ULIDs in chronological order
        gates:
          type: object
          additionalProperties:
            $ref: '#/components/schemas/Gate'
          description: Gate name -> gate state mapping
        decision_ledger:
          type: array
          items:
            type: string
          description: Decision IDs (DEC-NNN) in chronological order
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
        display_name:
          type: string
          description: Cloud-only presentation field — never affects governance
          nullable: true

    Turn:
      type: object
      required: [id, run_id, role, runtime_id, phase, status, summary, files_changed, verification, artifact]
      properties:
        id:
          type: string
          description: Turn ULID
          pattern: '^turn_[A-Za-z0-9]+$'
        run_id:
          type: string
        role:
          type: string
        runtime_id:
          type: string
        phase:
          type: string
          enum: [planning, implementation, qa, release]
        status:
          type: string
          enum: [completed, blocked, needs_human, failed, failed_acceptance]
        summary:
          type: string
        files_changed:
          type: array
          items:
            type: string
        verification:
          type: object
          properties:
            status:
              type: string
              enum: [pass, fail, skipped]
            commands:
              type: array
              items:
                type: string
            evidence_summary:
              type: string
            machine_evidence:
              type: array
              items:
                type: object
                required: [command, exit_code]
                properties:
                  command:
                    type: string
                  exit_code:
                    type: integer
        artifact:
          type: object
          properties:
            type:
              type: string
              enum: [workspace, patch, commit, review]
            ref:
              type: string
        decisions:
          type: array
          items:
            $ref: '#/components/schemas/Decision'
        objections:
          type: array
          items:
            type: object

    Decision:
      type: object
      required: [id, category, statement, rationale]
      properties:
        id:
          type: string
          description: Decision ID (DEC-NNN)
          pattern: '^DEC-\d{3}$'
        category:
          type: string
          enum: [implementation, architecture, scope, process, quality, release]
        statement:
          type: string
        rationale:
          type: string
        phase:
          type: string
        role:
          type: string
        runtime_id:
          type: string

    Gate:
      type: object
      required: [name, status]
      properties:
        name:
          type: string
        status:
          type: string
          enum: [pending, passed, failed]
        evidence:
          type: object
        missing_files:
          type: array
          items:
            type: string
        requires_human_approval:
          type: boolean

    Event:
      type: object
      required: [id, type, timestamp, run_id]
      properties:
        id:
          type: string
        type:
          type: string
        timestamp:
          type: string
          format: date-time
        run_id:
          type: string
        turn_id:
          type: string
          nullable: true
        data:
          type: object

    AuditEntry:
      type: object
      required: [id, actor_id, actor_role, timestamp, action, target, target_id]
      properties:
        id:
          type: string
        actor_id:
          type: string
        actor_role:
          type: string
          enum: [owner, operator, viewer]
        timestamp:
          type: string
          format: date-time
        action:
          type: string
        target:
          type: string
        target_id:
          type: string
        metadata:
          type: object

    Error:
      type: object
      required: [error]
      properties:
        error:
          type: object
          required: [code, message]
          properties:
            code:
              type: string
              description: >
                Machine-readable error code. Generic: not_found, already_exists,
                invalid_request, unauthorized, forbidden, rate_limited,
                internal_error. Protocol: invalid_state, gate_not_satisfied,
                turn_not_active, run_not_resumable, checkpoint_not_found,
                protocol_version_mismatch, lock_conflict.
            message:
              type: string
              description: Human-readable error message
            details:
              type: object
              description: Optional structured error details

    PaginatedList:
      type: object
      required: [data, has_more]
      properties:
        data:
          type: array
        cursor:
          type: string
          nullable: true
          description: Opaque cursor for next page, null if no more pages
        has_more:
          type: boolean
          description: Whether more items exist beyond this page

  responses:
    BadRequest:
      description: Invalid request format
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    Unauthorized:
      description: Missing or invalid authentication
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    Forbidden:
      description: Insufficient RBAC role for this operation
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    NotFound:
      description: Resource not found
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    Conflict:
      description: State conflict — state machine rejected the operation or lock acquisition failed
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    UnprocessableEntity:
      description: Request body failed protocol validation
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    RateLimited:
      description: Rate limit exceeded
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    InternalError:
      description: Unexpected server error
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
